version: '3.7'
services:
  genenotebook:
    image: quay.io/abretaud/genenotebook:v0.2.0
    ports:
      - 3000:3000
    depends_on:
      - mongodb
    volumes:
      - ./data/refdata:/data/refdata
      - ../genenotebook/client/:/genenotebook/client/:ro
      - ../genenotebook/imports/:/genenotebook/imports/:ro
      - ../genenotebook/public/:/genenotebook/public/:ro
      - ../genenotebook/scripts/:/genenotebook/scripts/:ro
      - ../genenotebook/server/:/genenotebook/server/:ro
      - ../genenotebook/tests/:/genenotebook/tests/:ro
    environment:
      NODE_OPTIONS: "--max-old-space-size=8192"
      MONGO_URL: "mongodb://mongodb:27017/genenotebook"
      RUN_MODE: "dev"

  mongodb:
    image: mongo
    volumes:
      - ./data/db:/data/db
